* {
    height: 100%;
}

body {
    background-image: linear-gradient(black 70%, blueviolet);
}

nav {
    position: relative;
    left: 36%;
    height: 500px;
    width: 500px;
}

h3 {
    color: red;
    text-align: center;
}