body {
    color: white;
    background-color: black;
    font-family: "Righteous", sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    text-decoration: none;
    color: blueviolet;
}

a:hover {
    color: red;
}

li {
    color: blueviolet;
}

hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, blueviolet, red);
    margin-top: 100px;
}

p {
    text-align: center;
    margin-top: 80px;
    color: blueviolet;
}

.raqh-foto {
    text-align: center;
    margin-top: 5px;
}

#raqh {
    margin-top: 50px;
}

div p {
    margin-top: 4px;
}

main h2 {
    margin-top: 150px;
    color: red;
    display: flex;
    justify-content: center;
    
}

main {
    display: inline-block;
    width: 800px;
    position: relative;
    left: 100px;
}

footer {
    display: inline-block;
    width: 800px;
    position: relative;
    bottom: 1px;
    left: 175px;
}

footer h2 {
    margin-top: 150px;
    color: red;
    display: flex;
    justify-content: center;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}
.ap {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#dc {
    width: 40px;
    position: fixed;
    left: 1840px;
    bottom: 20px;
}

.ps {
    color: red;
    margin-right: 7px;
}

.cop {
    text-align: center;
    padding: 50px;
    margin-top: 80px;
}

.copy {
    color: red;
}

.copy:hover {
    color: blueviolet;
}

#dc:hover {
    border: solid 3px red;
}